@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}
a:hover span:first-of-type {
    width: 100%;
    transform-origin: left;
    animation: border-left-to-right 1s forwards;
}

@keyframes border-left-to-right {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
    
}